body{
   margin-top: 40px;
    background-color:#4c4c51
}

.titolo{
   text-align: center;
   color:white;
}

.container{
   width:100%;
}

.left{
    background-color:transparent !important;
    width:15%;
    float:left;
  }
  
  .center{
     background:transparent !important;
     text-align:center;
     width:70%;
     float:left;
  }
  
  .right{
     background:transparent !important;
     width:15%;
     float:left;
  }
  
  label{
  color: white;
  }